@use '../../styles/global/' as *;

.hero-pages {
  background-image: url('../../assets/hero/heroes-bg.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 41rem;
  position: relative;
  width: 100%;

  &_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: hsla(0, 0%, 100%, 0.92);
  }

  &_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 41rem;
    z-index: 100;
    h3 {
      font-size: 3.6rem;
    }

    p {
      font-size: $p-size;
      font-weight: 600;

      a {
        color: $text-black;
        text-decoration: none;
        transition: all 0.3s;

        &:hover {
          color: $text-orange;
        }
      }
    }
  }
}
