@use '../../styles/global/' as *;

.team-page {
  display: flex;
  flex-direction: column;
}

.team-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 4rem;
  padding: 10rem 0rem;
  width: 110rem;

  @media (width <= 1150px) {
    grid-template-columns: 1fr 1fr;
    width: fit-content;
  }

  @media (width <= 800px) {
    grid-template-columns: 1fr;
    width: fit-content;
  }
}
