@use '../../styles/global/' as *;

.plan-section {
  padding: 5.3rem 0;
  background-color: #fff;
}
.plan-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;

  &_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;

    h3 {
      font-size: $h3-size;
      font-weight: 600;
      font-family: $text-font;
    }

    h2 {
      font-size: $h2-size;
    }
  }

  &_boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 3rem;

    @media (max-width: 1021px) {
      grid-template-columns: 1fr 1fr;
      row-gap: 2rem;
    }

    @media (max-width: 800px) {
      grid-template-columns: 1fr;
      margin-top: 1rem;
    }

    &_box {
      padding: 1rem 6rem;
      text-align: center;

      @media (max-width: 500px) {
        padding: 1rem 1rem;
      }

      img {
        width: 17rem;
        height: auto;
      }

      h3 {
        font-size: $h3-size;
        padding-bottom: 1rem;
      }

      p {
        font-size: $p-size;
        font-family: $text-font;
        color: #706f7b;
        line-height: 1.43;
      }
    }
  }
}
